<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"
        integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/all.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
    <script type="text/javascript" src="../static/sdk/lib/axios/dist/axios.standalone.js"></script>
    <script type="text/javascript" src="../static/sdk/lib/CryptoJS/rollups/hmac-sha256.js"></script>
    <script type="text/javascript" src="../static/sdk/lib/CryptoJS/rollups/sha256.js"></script>
    <script type="text/javascript" src="../static/sdk/lib/CryptoJS/components/hmac.js"></script>
    <script type="text/javascript" src="../static/sdk/lib/CryptoJS/components/enc-base64.js"></script>
    <script type="text/javascript" src="../static/sdk/lib/url-template/url-template.js"></script>
    <script type="text/javascript" src="../static/sdk/lib/apiGatewayCore/sigV4Client.js"></script>
    <script type="text/javascript" src="../static/sdk/lib/apiGatewayCore/apiGatewayClient.js"></script>
    <script type="text/javascript" src="../static/sdk/lib/apiGatewayCore/simpleHttpClient.js"></script>
    <script type="text/javascript" src="../static/sdk/lib/apiGatewayCore/utils.js"></script>
    <script type="text/javascript" src="../static/sdk/apigClient.js"></script>
    <script type="text/javascript" src="../static/aws-sdk.min.js"></script>
    <script>
        let sucai_path = "{{url_for('static', filename='sucai')}}"
        console.log(sucai_path)
        //let sdk = apigClientFactory.newClient({});
        //let UserID = "{{user_id}}";
    </script>
    <script type="text/javascript" src="../static/all.js"></script>
    {% block head %} <title>base</title> {% endblock %}
</head>

<body style="background-color:#fbf9f9">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand mt-2 mt-lg-0" href="/">
                <img src="../static/sucai/logo.png" height="40"
                    alt="MDB Logo" id="logo"/>
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/lobby">Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leaderboard">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/friend">Friend</a>
                </li>
            </ul>


            <div class="dropdown show">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../static/sucai/user0.png" class="rounded-circle" height="30"
                        alt="" id="avatar"/>
                </a>
                
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>

            <div style="width: 15px;"></div>
            
            <!-- <div class="d-flex align-items-center">
                <div class="dropdown mx-3">
                    <a href="/profile">
                    <img src="../static/sucai/user0.png" class="rounded-circle" height="30"
                        alt="" id="avatar"/>
                    </a>
                </div>
            </div> -->

        </div>
    </nav>

    {% block body %} {% endblock %}

</body>

</html>