{% extends "layout.html" %}

{% block head %} 

<script>
    var sdk = apigClientFactory.newClient({});
</script>

<script type="text/javascript" src="../static/leaderboard.js"></script>

<title>Leaderboard</title>

{% endblock %}

{% block body %}

<div class="container">
    <h1 class="row display-5 d-flex justify-content-center mt-5">
        Top 100 Players
    </h1>
    <h5 class="row d-flex justify-content-center mt-2 text-secondary" id="last_update">
    </h5>
    <div class="container mt-5">
        <div class="row">
            <div class="col-1"> Rank </div>
            <div class="col-2"> User </div>
            <div class="col-2"> Score </div>
            <div class="col-2"> Games </div>
        </div>
    </div>
    <div class="container content shadow mt-1" id="leaderboard_container"></div>
</div>

{% endblock %}