{% extends "layout.html" %}

{% block head %} 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script> let socket = io(); </script>
    <script type="text/javascript" src="../static/lobby.js"></script>
    <title>Lobby</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="row display-5 d-flex justify-content-center mt-5">
        Game Lobby
    </h1>
    <div class="row mt-5">
        <div class="col-4">
            <div class="input-group">
                <div class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <button type="button" class="btn btn-light">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

        <div class="col-2 offset-6">
            <button type="button" class="btn btn-outline-dark" onclick="location.href='./create'">Create</button>
            <button type="button" class="btn btn-outline-dark" onclick="location.href='./lobby'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                    <path
                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                </svg>
            </button>
        </div>

    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-1"> RoomID </div>
            <div class="col-2"> Creator </div>
            <div class="col-2"> People </div>
            <div class="col-2"> Status </div>
        </div>
    </div>


    <div class="container content shadow mt-1" id="lobby_container">
        <!-- <div class="row">
            <div class="col-1"> 10086 </div>
            <div class="col-2"> alanyevs </div>
            <div class="col-2"> 1/2 </div>
            <div class="col-2"> PSR </div>
        </div> -->
    </div>

</div>

{% endblock %}