{% extends "layout.html" %}

{% block head %} 

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script> let socket = io(); </script>
<script type="text/javascript" src="../static/room.js"></script>
<title>Room</title> 

{% endblock %}

{% block body %}

<div class="container">
    <h1 class="row display-5 d-flex justify-content-center mt-5">
        Room
    </h1>
    <div class="row mt-5">
        <div class="col-2 offset-6">
            <button type="button" class="btn btn-outline-dark">Start</button>
            <button type="button" class="btn btn-outline-dark">Exit</button>
        </div>

    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-1"> UserName </div>
            <div class="col-2"> WinRate </div>
        </div>
    </div>


    <div class="container content shadow mt-1" id="room_container">
    </div>

</div>
{% endblock %}